body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app {
    text-align: center;
    max-width: 600px;
    margin: 50px auto;
    padding: 40px;
    background: linear-gradient(135deg, #3b3054, #504e67);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.app:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #61dafb;
    font-size: 2.5em;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

label {
    color: #61dafb;
    margin-right: 1px;
}

input {
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    background-color: #4e4363;
    border: 1px solid #4e4363;
    color: #fff;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
    border-color: #61dafb;
    box-shadow: 0 0 12px rgba(97, 218, 251, 0.7);
}

button {
    background: linear-gradient(135deg, #61dafb, #4fa3d1);
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #4fa3d1, #3b8ac3);
}

#shortUrlResult {
    margin-top: 30px;
    font-weight: bold;
    color: #61dafb;
    text-align: center;
    font-size: 15px;
}

a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #4fa3d1;
}
